USE [master]
GO
/****** Object:  Database [DB_GestionFeria]    Script Date: 3/2/2026 20:16:06 ******/
CREATE DATABASE [DB_GestionFeria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_GestionFeria', FILENAME = N'C:\Users\smith\DB_GestionFeria.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_GestionFeria_log', FILENAME = N'C:\Users\smith\DB_GestionFeria_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_GestionFeria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_GestionFeria]
GO
/****** Object:  Table [dbo].[Comentario]    Script Date: 3/2/2026 20:16:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comentario](
	[IdComentario] [int] IDENTITY(1,1) NOT NULL,
	[Texto] [nvarchar](max) NULL,
	[Fecha] [datetime] NULL,
	[IdEmprendimiento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdComentario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Emprendimiento]    Script Date: 3/2/2026 20:16:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emprendimiento](
	[IdEmprendimiento] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Rubro] [nvarchar](50) NULL,
	[Facultad] [nvarchar](50) NULL,
	[RutaFoto] [nvarchar](200) NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmprendimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evento]    Script Date: 3/2/2026 20:16:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evento](
	[IdEvento] [int] IDENTITY(1,1) NOT NULL,
	[FechaExposicion] [date] NULL,
	[HoraExposicion] [time](7) NULL,
	[Ubicacion] [nvarchar](100) NULL,
	[Orden] [int] NULL,
	[IdEmprendimiento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEvento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Participante]    Script Date: 3/2/2026 20:16:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participante](
	[IdParticipante] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Apellido] [nvarchar](50) NULL,
	[Cargo] [nvarchar](50) NULL,
	[IdEmprendimiento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdParticipante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resultado]    Script Date: 3/2/2026 20:16:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resultado](
	[IdResultado] [int] IDENTITY(1,1) NOT NULL,
	[CategoriaPremio] [nvarchar](100) NULL,
	[Posicion] [nvarchar](50) NULL,
	[IdEmprendimiento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdResultado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 3/2/2026 20:16:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](50) NULL,
	[Clave] [nvarchar](50) NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voto]    Script Date: 3/2/2026 20:16:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voto](
	[IdVoto] [int] IDENTITY(1,1) NOT NULL,
	[FechaVoto] [datetime] NULL,
	[IdEmprendimiento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVoto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comentario] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Emprendimiento] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Voto] ADD  DEFAULT (getdate()) FOR [FechaVoto]
GO
ALTER TABLE [dbo].[Comentario]  WITH CHECK ADD FOREIGN KEY([IdEmprendimiento])
REFERENCES [dbo].[Emprendimiento] ([IdEmprendimiento])
GO
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD FOREIGN KEY([IdEmprendimiento])
REFERENCES [dbo].[Emprendimiento] ([IdEmprendimiento])
GO
ALTER TABLE [dbo].[Participante]  WITH CHECK ADD FOREIGN KEY([IdEmprendimiento])
REFERENCES [dbo].[Emprendimiento] ([IdEmprendimiento])
GO
ALTER TABLE [dbo].[Resultado]  WITH CHECK ADD FOREIGN KEY([IdEmprendimiento])
REFERENCES [dbo].[Emprendimiento] ([IdEmprendimiento])
GO
ALTER TABLE [dbo].[Voto]  WITH CHECK ADD FOREIGN KEY([IdEmprendimiento])
REFERENCES [dbo].[Emprendimiento] ([IdEmprendimiento])
GO
/****** Object:  StoredProcedure [dbo].[sp_ContarVotos]    Script Date: 3/2/2026 20:16:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP para CONTAR VOTOS (Para mostrar en la tarjeta de votación)
CREATE PROCEDURE [dbo].[sp_ContarVotos]
    @IdEmprendimiento INT
AS
BEGIN
    SELECT COUNT(*) FROM Voto WHERE IdEmprendimiento = @IdEmprendimiento
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ContarVotosDashboard]    Script Date: 3/2/2026 20:16:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Este SP hace el conteo automático para el Dashboard
CREATE   PROCEDURE [dbo].[sp_ContarVotosDashboard]
AS
BEGIN
    SELECT e.IdEmprendimiento, e.Nombre as NombreEmprendimiento, COUNT(v.IdVoto) as TotalVotos
    FROM Emprendimiento e
    LEFT JOIN Voto v ON e.IdEmprendimiento = v.IdEmprendimiento
    GROUP BY e.IdEmprendimiento, e.Nombre
    ORDER BY TotalVotos DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EditarParticipante]    Script Date: 3/2/2026 20:16:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Procedimiento para EDITAR un participante
-- =============================================
CREATE PROCEDURE [dbo].[sp_EditarParticipante]
    @IdParticipante INT,
    @Nombre NVARCHAR(100),
    @Apellido NVARCHAR(100),
    @Cargo NVARCHAR(100)
AS
BEGIN
    -- Actualiza la tabla Participante
    UPDATE Participante
    SET Nombre = @Nombre,
        Apellido = @Apellido,
        Cargo = @Cargo
    WHERE IdParticipante = @IdParticipante
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarComentarios]    Script Date: 3/2/2026 20:16:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ListarComentarios]
    @IdEmprendimiento INT
AS
BEGIN
    -- Seleccionamos las columnas exactas de TU tabla 'Comentario'
    SELECT Texto, Fecha 
    FROM Comentario
    WHERE IdEmprendimiento = @IdEmprendimiento
    ORDER BY Fecha ASC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarEmprendimientos]    Script Date: 3/2/2026 20:16:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP para LISTAR todos los emprendimientos (Para mostrar en tus formularios)
CREATE PROCEDURE [dbo].[sp_ListarEmprendimientos]
AS
BEGIN
    SELECT * FROM Emprendimiento
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarEventos]    Script Date: 3/2/2026 20:16:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. PROCEDIMIENTOS (Usamos CREATE OR ALTER para corregir sin errores)

-- LISTAR EVENTOS (Fundamental para el Calendario)
CREATE   PROCEDURE [dbo].[sp_ListarEventos]
AS
BEGIN
    SELECT ev.IdEvento, ev.FechaExposicion, ev.HoraExposicion, ev.Ubicacion, ev.Orden,
           ev.IdEmprendimiento,
           emp.Nombre, emp.Facultad 
    FROM Evento ev
    INNER JOIN Emprendimiento emp ON ev.IdEmprendimiento = emp.IdEmprendimiento
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarParticipantesPorEmprendimiento]    Script Date: 3/2/2026 20:16:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ListarParticipantesPorEmprendimiento]
    @IdEmprendimiento INT
AS
BEGIN
    -- AGREGAMOS 'p.IdParticipante' AL PRINCIPIO
    SELECT p.IdParticipante, p.Nombre, p.Apellido, p.Cargo, e.Nombre as NombreEmprendimiento
    FROM Participante p
    INNER JOIN Emprendimiento e ON p.IdEmprendimiento = e.IdEmprendimiento
    WHERE p.IdEmprendimiento = @IdEmprendimiento
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarResultados]    Script Date: 3/2/2026 20:16:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Creamos el nuevo CON LOS NOMBRES (El Join Importante)
CREATE PROCEDURE [dbo].[sp_ListarResultados]
AS
BEGIN
    SELECT 
        r.CategoriaPremio AS categoriapremio, 
        emp.Nombre AS nombreemprendimiento,  -- <--- ESTA ES LA COLUMNA QUE TU PDF BUSCA
        emp.Facultad AS facultad, 
        r.Posicion AS posicion
    FROM Resultado r
    INNER JOIN Emprendimiento emp ON r.IdEmprendimiento = emp.IdEmprendimiento
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarComentario]    Script Date: 3/2/2026 20:16:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- === 2. COMENTARIOS ===
CREATE   PROCEDURE [dbo].[sp_RegistrarComentario]
    @Texto NVARCHAR(MAX), @IdEmprendimiento INT
AS
BEGIN
    INSERT INTO Comentario(Texto, Fecha, IdEmprendimiento)
    VALUES (@Texto, GETDATE(), @IdEmprendimiento)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarEmprendimiento]    Script Date: 3/2/2026 20:16:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP para REGISTRAR un nuevo emprendimiento
CREATE PROCEDURE [dbo].[sp_RegistrarEmprendimiento]
    @Nombre NVARCHAR(100),
    @Descripcion NVARCHAR(500),
    @Rubro NVARCHAR(50),
    @Facultad NVARCHAR(50),
    @RutaFoto NVARCHAR(200)
AS
BEGIN
    INSERT INTO Emprendimiento(Nombre, Descripcion, Rubro, Facultad, RutaFoto)
    VALUES (@Nombre, @Descripcion, @Rubro, @Facultad, @RutaFoto)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarEvento]    Script Date: 3/2/2026 20:16:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- REGISTRAR EVENTO
CREATE   PROCEDURE [dbo].[sp_RegistrarEvento]
    @IdEmprendimiento INT,
    @FechaExposicion DATE,
    @HoraExposicion TIME,
    @Ubicacion NVARCHAR(100),
    @Orden INT
AS
BEGIN
    INSERT INTO Evento(IdEmprendimiento, FechaExposicion, HoraExposicion, Ubicacion, Orden)
    VALUES (@IdEmprendimiento, @FechaExposicion, @HoraExposicion, @Ubicacion, @Orden)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarParticipante]    Script Date: 3/2/2026 20:16:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- === 1. PARTICIPANTES ===
CREATE   PROCEDURE [dbo].[sp_RegistrarParticipante]
    @Nombres NVARCHAR(100), @Apellidos NVARCHAR(100),
    @Cargo NVARCHAR(50), @RutaFoto NVARCHAR(200),
    @IdEmprendimiento INT
AS
BEGIN
    INSERT INTO Participante(Nombre, Apellido, Cargo, IdEmprendimiento) -- Ajusta columnas según tu tabla real
    VALUES (@Nombres, @Apellidos, @Cargo, @IdEmprendimiento) -- Si tienes columna RutaFoto, agrégala aquí
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarResultado]    Script Date: 3/2/2026 20:16:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Registrar Resultado
CREATE   PROCEDURE [dbo].[sp_RegistrarResultado]
    @Categoria NVARCHAR(100),
    @Posicion NVARCHAR(50),
    @IdEmprendimiento INT
AS
BEGIN
    INSERT INTO Resultado(CategoriaPremio, Posicion, IdEmprendimiento)
    VALUES (@Categoria, @Posicion, @IdEmprendimiento)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarVoto]    Script Date: 3/2/2026 20:16:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- === 3. VOTACIONES ===
CREATE   PROCEDURE [dbo].[sp_RegistrarVoto]
    @IdEmprendimiento INT
AS
BEGIN
    INSERT INTO Voto(IdEmprendimiento, FechaVoto)
    VALUES (@IdEmprendimiento, GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ValidarUsuario]    Script Date: 3/2/2026 20:16:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Procedimiento para validar el ingreso
CREATE   PROCEDURE [dbo].[sp_ValidarUsuario]
    @Usuario NVARCHAR(50),
    @Clave NVARCHAR(50)
AS
BEGIN
    -- Devuelve el ID si existe, o nada si no existe
    SELECT IdUsuario, NombreUsuario 
    FROM Usuario 
    WHERE NombreUsuario = @Usuario AND Clave = @Clave
END
GO
USE [master]
GO
